* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

@font-face {
 font-family: "Outfit";
 src: url(./fonts/Outfit/Outfit-VariableFont_wght.ttf);
}

:root {
 --white: hsl(0, 0%, 100%);
 --slate-300: hsl(212, 45%, 89%);
 --slate-500: hsl(216, 15%, 48%);
 --slate-900: hsl(218, 44%, 22%);
}

main {
 font-family: "Outfit", sans-serif;
 font-style: normal;
 display: grid;
 align-content: center;
 justify-content: center;
 background-color: var(--slate-300);
 width: 100vw;
 min-height: 100vh;
}

#columns {
 width: 1440px;
 height: 960px;
 position: absolute;
 background: linear-gradient(to left, #0d1012, #616264 75%, #0d1012 50%, #0d1012 75% );
 opacity: 80%;
}

#qr-body {
 width: 320px;
 height: 499px;
 margin-top: 20px;
 padding: 16px 16px 40px 16px;
 display: flex;
 -ms-flex-align: center;
 flex-direction: column;
 border-radius: 10px;
 background-color: var(--white);
 box-shadow: grey 10px 5px 5px; 
}

#qr-image {
 width: 288px;
 height: 288px;
 border: solid 5px white;
 border-radius: 10px;
}

#qr-p {
 width: 288px;
 height: 131px;
 text-align: center;
 padding-left: 16px;
 padding-right: 16px;
 gap: 16px;
 display: flex;
 flex-direction: column;
}

#qr-p h1 {
 font-size: 18px;
 color: var(--slate-900);
}

#qr-p p {
 font-size: 15px;
 color: var(--slate-500);
 opacity: 0.8;
}

#attribution {
 font-size: 15px;
}

@media screen and (max-width: 375px) {
 #columns {
    width: 375px;
    height: 812px;
   }
}
